<div id="<%= dom_id reporte_incidente %>">
  <p>
    <strong>Tipo:</strong>
    <%= reporte_incidente.tipo %>
  </p>

  <p>
    <strong>Estadopista:</strong>
    <%= reporte_incidente.estadoPista %>
  </p>

  <p>
    <strong>Estadotrafico:</strong>
    <%= reporte_incidente.estadoTrafico %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= reporte_incidente.region %>
  </p>

  <p>
    <strong>Provincia:</strong>
    <%= reporte_incidente.provincia %>
  </p>

  <p>
    <strong>Distrito:</strong>
    <%= reporte_incidente.distrito %>
  </p>

  <p>
    <strong>Ciudad:</strong>
    <%= reporte_incidente.ciudad %>
  </p>

</div>
